<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Edit Book</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>
        <h1>Edit Book</h1>
        <div>
            <form action="#" th:action="@{/edit/{id}(id=${book.id})}" th:object="${book}" method="post">
                <p>Book title: <input type="text" th:field="*{title}" /></p>
                <p>Author: <input type="text" th:field="*{author}" /></p>
                <p>Publication Year: <input type="text" th:field="*{publicationYear}" /></p>
                <p>ISBN: <input type="text" th:field="*{isbn}" /></p>
                <p>Price: <input type="text" th:field="*{price}" /></p>
                <p><input type="submit" value="Update" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" /></p>
                <p><a th:href="@{/}">Cancel</a></p>
            </form>
        </div>
    </body>
</html>