<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Website for Homework 02</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <nav>
            <h1>Chapter 02: Hello Thymeleaf</h1>
            <h2>2. Handling Lists</h2>
        </nav>
    </header>

    <main>

    </main>

    <footer>
        <p>&copy; 2025 Test Website for Homework 02. Built with Spring Boot.</p>
    </footer>

</body>
</html>