<!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>Server Programming with Spring Boot</title>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        </head>
        <body>
            <h1>Chapter 2: Friend List</h1>
            <h2>My friends</h2>
            <div>
                <h4>Name</h4>
                <div th:each="friend : ${friends}">
                    <span th:text="${friend.firstName} + ' ' + ${friend.lastName}"></span>
                </div>
            </div>


        </body>
</html>